= simple_form_for @document do |f|
  = f.error_notification

  = f.input :title, as: :string
  = f.input :form_content, as: :text, label: "Content", input_html: { rows: 10 }
  = f.input :shared
  = f.button :submit
