%h1 Your documents

- docs_with_dialogs = []

%table
  %thead
    %tr
      %th{width: 500} Title
      %th Shared
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @documents.sort_by{|d| [(d.title || ""), (d.run_key || "")] }.each do |document|
      %tr
        %td= (document.title || "") + (document.run_key ? " [#{document.run_key}]" : "")
        %td.centered
          - if document.shared
            %span.green-check &#x2714;

        - if can? :read, document
          %td= link_to 'Details', document
        - else
          %td= " "
        - if can? :update, document
          %td= link_to 'Edit', edit_document_path(document)
        - else
          %td= " "
        - if can? :destroy, document
          %td= link_to 'Delete', document, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td= " "
        - if can?(:open, document) && document.content.has_key?('_permissions')
          %td= link_to 'Launch', codap_link(nil, document), target: "_blank"
        - else
          %td= " "
        - if can?(:update, document) && document.shared
          - docs_with_dialogs << document
          %td
            %a.link_button{href: '#', "data-reveal-id" => "linkModal#{document.id}"}= 'Link...'
        - else
          %td= " "

%br

- if can? :create, Document
  = link_to 'Create Document', new_document_path, class: :button

- docs_with_dialogs.each do |document|
  = render partial: 'reveal_modal', locals: {document: document}
