-if @master_document_url
  - if @supplemental_documents && @supplemental_documents.size > 0
    .row
      .small-12.text-center.columns
        - most_recent = @supplemental_documents.sort_by{|d| d.updated_at }.last
        = link_to h(@buttonText), codap_link(@codap_server, most_recent), class: :"launch-button", target: "_blank"
    .row.more-space-above
      .small-12.text-center.columns
        = link_to 'Reset to Original', @master_document_url, class: :"original-reset", target: "_blank"
  - else
    .row
      .small-12.text-center.columns.end
        = link_to h(@buttonText), @master_document_url, class: :"launch-button", target: "_blank"
- else
  .row
    .small-12.text-center.columns{style: "color: #990000" }
      Error: The requested document could not be found.
:javascript
  $(document).ready(function() {
    var phone = iframePhone.getIFrameEndpoint();
    phone.addListener('getLearnerUrl', function () {
      phone.post('setLearnerUrl', '#{@learner_url}');
      // this will trigger a save of the learner url, and not require waiting 42 seconds...
      phone.post('interactiveState', {runKey: '#{@runKey}', lara_options: { reporting_url: '#{@report_url}' }});
      // then make sure we're logged in when we need to be
      phone.post('getAuthInfo');
    });
    phone.addListener('getInteractiveState', function () {
      phone.post('interactiveState', {runKey: '#{@runKey}', lara_options: { reporting_url: '#{@report_url}' }});
    });
    phone.addListener('authInfo', function(info) {
      if (!info["loggedIn"]) {
        // Tell CODAP that we're running anonymously
        $('.launch-button,.original-reset').each(function() {
          var origHref = $(this).attr('href');
          $(this).attr('href', $.param.querystring(origHref, 'runAsGuest=true'));
        });
      } else if (info["loggedIn"] && #{current_user.nil?} && window.location.href.indexOf('&auth_provider=') == -1) {
        window.location = $.param.querystring(window.location.href, "auth_provider="+info["provider"]);
      }
    });
    phone.addListener('getExtendedSupport', function() {
      phone.post('extendedSupport', { reset: false });
    });
    // Initialize connection after all message listeners are added!
    phone.initialize();
  });
