-if @master_document_url
  - if @supplemental_documents && @supplemental_documents.size > 0
    .row
      .small-3.columns.end
        - most_recent = @supplemental_documents.sort_by{|d| d.updated_at }.last
        = link_to 'Launch!', codap_link(@codap_server, most_recent), class: :"launch-button", target: "_blank"
    .row
      .small-3.columns.end{style: "text-align: right;"}
        = link_to 'Reset to original', @master_document_url, class: :"original-reset", target: "_blank"
  - else
    .row
      .small-3.columns.end
        = link_to 'Launch!', @master_document_url, class: :"launch-button", target: "_blank"
- else
  .row
    .small-12.columns{style: "color: #990000" }
      Error: The requested document could not be found.
:javascript
  $(document).ready(function() {
    var phone = iframePhone.getIFrameEndpoint();
    phone.addListener('getLearnerUrl', function () {
      phone.post('setLearnerUrl', '#{@learner_url}');
    });
    phone.addListener('getInteractiveState', function () {
      phone.post('interactiveState', {runKey: '#{@runKey}'});
    });
    // Initialize connection after all message listeners are added!
    phone.initialize();
  });
