%p#notice= notice

%p
  %b Title:
  = @document.title
%p
  %b Content:
  = @document.content
%p
  %b Shared:
  = @document.shared
%p
  %b Owner:
  = @document.owner_id

- if can? :edit, @document
  = link_to 'Edit', edit_document_path(@document)
  \|
- if can? :list, Document
  = link_to 'Back', documents_path
