- pretty_json = JSON.pretty_generate(@document.content)
- if pretty_json.size < 100000
  :javascript
    hljs.initHighlightingOnLoad();

%ul.breadcrumbs
  %li= link_to 'Home', root_path
  %li= link_to 'Documents', documents_path
  %li.current
    %a{href: '#'}= @document.title || ""

%p
  %b Title:
  = (@document.title || "") + (@document.run_key ? " [#{@document.run_key}]" : "")
%p
  %b Shared:
  = @document.shared
- if @document.owner != current_user
  %p
    %b Owner:
    = @document.owner_id
%p
  %b Content:
  %pre
    %code.json= pretty_json

- if can? :edit, @document
  = link_to 'Edit', edit_document_path(@document), class: :button
